
h2{
    transform:skew(10deg, 20deg) translate(-0%,-100%);

}
body {
	background-color: #000;
	color: moccasin;
    margin-left: 0px;
    margin-top: 30px;
    padding: 100px;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    letter-spacing: 3px;
    text-transform:capitalize;

}
p{
    margin-top:50px;
}
.industrial{
    background-color: rgb(103, 103, 130);
}
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 150px;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
#gradient {
    background: #D6D6D6;
    background: -moz-radial-gradient(center, #D6D6D6 0%, #AD7E8A 67%, #877CA3 100%);
    background: -webkit-radial-gradient(center, #D6D6D6 0%, #AD7E8A 67%, #877CA3 100%);
    background: radial-gradient(ellipse at center, #D6D6D6 0%, #AD7E8A 67%, #877CA3 100%);
    color:black;
    font-weight:bold;
    padding: 100px;
    margin-left:100px;
    margin-right:100px;
}
.navbutton{
    align-items: right;
    align-content: right;
    text-align: right;
}
#gradient:hover{
    background:#AD7E8A;
    color:aliceblue;
    
}
.boop{
    margin-left: 500px;
    align-items: center;
    align-content: center;
    text-align: center;
}
a{
    color:#AD7E8A
}
.prose{
    margin-top: 20px;
}

.videoOption video {
    width: 200px;
}
#form {
        margin-left:160px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 40px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
      
      
}